@import "lib/mixin.scss";


/*****************
 *
 * Global
 *
 *****************/

$link-color: #0096dd;

a {
  color: $link-color;
  text-decoration: none;

  &:hover, &:active {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}


#page {
  margin: 0 auto;
  width: 970px;
}

#header-navigation {
  border: 1px black solid;/* debug */

  & > ul > li {
    display: inline-block;
    list-style-type: none;
  }
}

#main {
  border: 1px black solid;/* debug */
  float: right;
  width: 600px;
}

#side-navigation {
  border: 1px black solid;/* debug */
  float: left;
  width: 300px;

  & ul > li {
    list-style-type: none;
    & > a {
      display: block;
      padding: 0.2em;
      margin: 0.3em;
    }
  }
}

#global-footer {
  border: 1px black solid;/* debug */
  clear: both;
}
