#page {
  margin: auto 0;
  width: 970px;
}

#header-navigation {
  border: 1px black solid;
}
#header-navigation > ul > li {
  display: inline-block;
  list-style-type: none;
}

#main {
  float: right;
  width: 600px;
}

#side-navigation {
  float: left;
  width: 300px;
}

#global-footer {
  clear: both;
}
