@import "lib/reset.scss";
@import "lib/mixin.scss";
@import "lib/tabzilla.scss";


/*****************
 *
 * Global
 *
 *****************/

@include open-sans();

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $text-color-primary;

  @include phone {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover, &:active {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 100%;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

@include phone {
  .phrase-group {
    @include no-linebreak();
  }
}

/*****************
 *
 * layout
 *
 *****************/

html {
  background: $body-bg-color image-url("bg-sand.png") repeat;
  background: image-url("bg-gradient-sand.png") repeat-x 0 0,
              image-url("bg-sand.png") repeat 0 0,
              $body-bg-color;
}

#page {
  margin: 0 auto 50px;
  width: $page-width;
  border-top: 2px solid #fff;/* for tabzilla */

  &:after {
    @extend %clear-float;
  }

  @include phone {
    width: 100%;
  }
  @include tablet {
    width: 100%;
  }
}

#global-header {
  text-align: center;

  @include phone {
    width: $page-width-phone;
    margin: 0 auto;
  }
}
#tabzilla-nav:after {
  @extend %clear-float;
}
#lang-navigation {
  float: right;

  & > li {
    display: inline-block;
    padding: 12px;
    list-style-type: none;

    & > a {
      color: $text-color-primary;
      text-decoration: none;
    }
  }
}

#title-wrapper {
  text-align: center;
}
#title {
  font-size: 0; /* hide white space */
}
#title-logo, #title-icon {
  display: inline-block;
  vertical-align: middle;

  @include phone {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
#title-icon {
  margin: 0 0.3em;

  @include phone {
    margin-left: auto;
    margin-right: auto;
  }
}

#header-navigation {
  $menu-item-link-padding: 8px;
  $menu-item-border-color: #d6d6d6;
  $menu-item-border: 1px dotted $menu-item-border-color;
  $bg-color: $basic-block-bg-color;
  $hovered-list-bg-color: rgb(245, 241, 232);
  $hovered-item-bg-color: #fff;

  margin: 2em 0;

  @include tablet {
    margin-left: $header-nav-margin-tablet;
    margin-right: $header-nav-margin-tablet;
  }

  & ul {
    @extend %basic-block;

    margin: 0 auto;
    width: 100%;

    @include phone-wide {
      width: 80%;
    }

    &:after {
      @extend %clear-float;
    }
  }

  & ul > li {
    display: block;
    list-style-type: none;
    text-align: center;
    float: left;
    width: $header-nav-item-width;
    position: relative;

    &:hover {
      background: $hovered-list-bg-color;
    }

    @include phone {
      float: none;
      width: 100%;
    }
    @include phone-wide {
      display: inline-block;
      width: 45%;
    }
    @include tablet {
      width: $header-nav-item-width-tablet;
      font-size: $header-nav-item-fontsize-tablet;
    }

    & > a {
      display: block;
      padding: $menu-item-link-padding;
      border-left: $menu-item-border;

      &:hover {
        background: $hovered-item-bg-color;
      }

      @include phone {
        width: $page-width-phone;
        border-left: none;
        border-top: $menu-item-border;
      }
      @include phone-wide {
        border-bottom: $menu-item-border;

        &:nth-of-type(5n) {
          border: none;
        }
      }
    }
    &:first-child > a {
      border: none;/* don't show border on left-end */
    }
  }
}

#main {
  float: left;
  width: $main-width;
  margin: 0 auto;

  @include phone {
    float: none;
    width: $page-width-phone;
  }
  @include tablet {
    width: $main-width-tablet - $header-nav-margin-tablet;
    margin-left: $header-nav-margin-tablet;
  }
}

#tag-title {
  font-size: 2.4em;
  padding: 0 10px;
  border-left: 10px solid;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#side-navigation {
  float: right;
  width: $sidebar-width;

  @include phone {
    float: none;
    width: $page-width-phone;
    margin: 50px auto;
    text-align: center;
  }
  @include tablet {
    width: $sidebar-width-tablet - $header-nav-margin-tablet*2;
    margin-left: $header-nav-margin-tablet;
    margin-right: $header-nav-margin-tablet;
  }

  & .banner {
    text-align: center;
    width: 100%;
    padding: 1em 0 2em;
    margin: 1em 0;
    border-bottom: $banner-border;

    @include phone {
      display: inline-block;
      width: $sidebar-banner-width-phone;
      min-width: 200px;
      margin: auto;
      border-bottom: none;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      border: none;
    }
  }
}
.bannar-icon {
  @include transition(transform 0.1s linear 0s);
}
.bannar-link:hover {
  & #banner-player-icon {
    @include transform(rotate(-20deg) translate(-10px, -5px));
  }
  & #banner-mentor-icon {
    @include transform(scaleX(1.2) scaleY(0.8) translate(0, 10px));
  }
}
#side-nav-social-list {

  @include phone {
    width: $sidebar-banner-width-phone;
    margin: auto;
  }

  li {
    list-style-type: none;

    @include phone-wide {
      display: inline-block;
    }

    & > a {
      display: block;
      min-height: 30px;
      padding: 5px 15px 5px 40px;
      border-bottom: $banner-border;
      margin: 10px auto;
      background-repeat: no-repeat;

      @include phone {
        border-bottom: none;
      }
    }
  }
}
#side-social-twitter {
  background-image: image-url("twitter-icon.png");
}
#side-social-fb {
  background-image: image-url("facebook-icon.png");
}


/*
 * global footer
 *
 */

#global-footer {
  width: 100%;
  background-color: $footer-bg-color;
  padding: 3em auto;
}
#global-footer-inner {
  width: $page-width;
  padding-top: 3em;
  margin: 0 auto;

  &:after {
    @extend %clear-float;
  }

  @include phone {
    width: 80%;
  }
  @include tablet {
    width: 80%;
  }
}
#footer-mozilla-japan-logo,
#supporter-section,
#footer-info {
  float: left;

  @include phone {
    text-align: center;
    float: none;
  }
  @include tablet {
    text-align: center;
    float: none;
  }
}
#footer-mozilla-japan-logo {
  @include phone {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 40px;
  }
}
#supporter-section {
  margin-left: 70px;

  & > h1 {
    margin-bottom: 0.5em;

    @include phone {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
  }

  @include phone {
    margin: 1em 0;
  }
  @include tablet {
    margin: 2em 0;
  }
}
.supporter {
  display: inline-block;
  margin: 0 1em;

  &:first-child {
    margin-left: 0;
  }
}
.supporter-logo {
  vertical-align: middle;
}

#footer-info {
  padding: 1em auto;

  & li {
    display: inline-block;
    margin: 0.5em 1em 1em;

    @include phone {
      display: block;
    }
    @include tablet {
      display: block;
    }
  }
}


/*
 * 投稿
 *
 */


.post {
  @extend %basic-block;

  width: $post-width;
  padding: 30px;
  margin: 0 auto;

  @include phone {
    width: 100% - $post-padding-phone*2;
    max-width: 350px;
    padding-left: $post-padding-phone;
    padding-right: $post-padding-phone;
    margin-left: auto;
    margin-right: auto;
  }
  @include phone-wide {
    width: $post-width-phone-wide;
    max-width: $post-maxwidth-phone-wide;
  }
  @include tablet {
    width: $main-width-tablet;
  }

  & img,
  & video,
  & audio,
  & iframe {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  & img,
  & video,
  & audio {
    height: auto;
  }

  .post-title {
    font-size: 30px;
  }

  footer {
    padding: 5px 0;
    @include embeded-line-bottom();
    margin-bottom: 14px;

    &:after {
      @extend %clear-float;
    }
  }

  .post-time > span {
    font-size: 14px;
  }

  .post-body {
    & > * {
      margin: 1em 0;
    }
    & h1, & h2, & h3, & h4, & h5, & h6 {
      padding-bottom: 0.5em;
      @include  embeded-line-bottom();
      margin: 2em 0 .7em;

      &.clear-strong-headline {
        @extend %clear-embeded-line-bottom;
      }
    }

  }

  .source-logo {
    display: inline;
  }
}
blockquote.post-title > a {
  &:before {
    content: "“";
  }
  &:after {
    content: "”";
  }
}
.source-container {
  display: block;
}
.source.reblog {
  display: block;
}

/*
 * 投稿の一覧表示
 *
 */
#posts.index {
  margin: auto;
  &:after {
    @extend %clear-float;
  }

  @include phone {
    width: $page-width-phone;
  }
}
#posts.index .post {
  $box-number: 3;

  @include grid-column-width($box-number,
                       $main-width,
                       $post-index-padding-width,
                       $post-index-border-width,
                       $post-index-margin-width);
  position: relative;
  height: 400px;
  margin-bottom: 25px;
  font-size: $post-index-font-size;
  overflow: hidden;
  float: left;

  &:after {
    content: "";
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    @include simple-linear-gradient-for-post-index();
  }

  .post-title {
    font-size: 20px;
  }

  @include phone {
    float: none;
  }
  @include phone-wide {
    width: $post-width-phone-wide;
    max-width: $post-maxwidth-phone-wide;
  }
  @include tablet {
    width: 44%;
  }
}

#pagination {
  @extend %basic-block;

  display: block;
  margin: auto;
  text-align: center;

  @include phone-wide {
    width: $post-width-phone-wide;
    max-width: $post-maxwidth-phone-wide;
  }
}
%pagination-item {
  display: inline-block;
  padding: 10px;
}
#pagination-new {
  @extend %pagination-item;

  & > a:before {
    content: "« ";
  }
}
#pagination-old {
  @extend %pagination-item;

  & > a:after {
    content: " »";
  }
}

/* 問い合わせ用フォーム */
#contact-form-frame {
  width: 100%;
  min-height: 900px;
}

/*
 * 特定のタグに関連する設定
 *
 */

.tag-list {
  list-style-type: none;
  float: right;
  text-align: right;
}
.tag {

  display: inline-block;
  background: $tag-fallback-bg-color;
  text-transform: uppercase;
  margin: 1px;

  & a {
    padding: 5px 10px;
    color: white;
  }

  &.project {
    background: $tag-project-bg-color;
  }
  &.mentor {
    background: $tag-mentor-bg-color;
  }
  &.event {
    background: $tag-event-bg-color;
  }
  &.news {
    background: $tag-news-bg-color;
  }
  &.mozbus {
    background: $tag-mozbus-bg-color;
  }
  &.webmaker {
    background: $tag-webmaker-bg-color;
  }
  &.mechamozilla {
    background: $tag-mechamozilla-bg-color;
  }
  &.ぶっとび {
    background: $tag-buttobi-bg-color;
  }
  &.spare {
    background: $tag-spare-bg-color;
  }
}
#tag-title {

  &.project {
    border-color: $tag-project-bg-color;
  }
  &.mentor {
    border-color: $tag-mentor-bg-color;
  }
  &.event {
    border-color: $tag-event-bg-color;
  }
  &.news {
    border-color: $tag-news-bg-color;
  }
  &.mozbus {
    border-color: $tag-mozbus-bg-color;
  }
  &.webmaker {
    border-color: $tag-webmaker-bg-color;
  }
  &.mechamozilla {
    border-color: $tag-mechamozilla-bg-color;
  }
  &.ぶっとび {
    border-color: $tag-buttobi-bg-color;
  }
  &.spare {
    border-color: $tag-spare-bg-color;
  }
}


/*
 * 各投稿ページにて、特定のタグに所属する投稿の場合は、
 * 投稿日時を表示しない
 */
%hide-date-info {
  & .post-time {
    display: none;
  }
}
.post {
  &[data-post-tag~="mentor"],
  &[data-post-tag~="project"] {
    @extend %hide-date-info;
  }
}

